.entry {
    float: left;
    width: 209px;
    border: solid black 1px;
    height: 220px;
    padding: 18px;
    margin: 8px;
    background: white;
    line-height: 1.2;
    font-size: 13.5px;
}

.entry-infobox, .entry-default-text {
    float: right;
    width: 230px;
    border: solid black 1px;
    padding: 17px;
    background: white;
    line-height: 1.1;
}

.entry-infobox a, .entry-default-text a {color: #0B8973;}
.entry-header {
    font-weight:bold;
    padding:3px;
    background-color: #0B8973;/*#A6D96A;*/
    color:white;
    margin-top: .6em;
    margin-bottom: .8em;
}
.entry-header p {
    margin-bottom: 0;
}

.entry-infobox img {border: red 1px; display:block;  text-align: center;}
